<h3>Login</h3>

<form method="post">    
    <ol>
        <li>
            <label for="email">email address</label>
            <input type="text" name="email" value="" id="email" />
        </li>
        
        <li>
            <label for="password">password</label>
            <input type="password" name="password" value="" id="password" />
        </li>
        
        <li>
            <div class="buttons">
                <button type="submit" class="positive" id="create">
                    <img src="/public/images/tick.png" alt=""/> 
                    log in
                </button>

                <button type="reset" class="negative" id="cancel">
                    <img src="/public/images/cross.png" alt=""/> 
                    cancel
                </button>
            </div>
        </li>
    </ol>
</form>