$def with (form, error=False)

<div class="column span-5 first">
    <div class="big-box bg">
        <h3>login</h3>
        
        $if error:
            <p class="wrong">Your username or password is incorrect.</p>

        <form method="post">    
        $:form.render()

        <input type="submit" name="some_name" value="login" id="some_name"> or

        <a href="/default/" class="cancel">Cancel</a>.
        </form>

    </div>
</div>

<div class="column span-8 last">
    <div class="big-box by">
        <h3>having problems logging in?</h3>
        <strong>TODO: implement password retrieval</strong>
    </div>
    
</div>