$def with (form, error=False, exists=False)

<div class="column span-6 first">
    <div class="big-box bg">
        <h3>create an account</h3>
        
        $if exists:
            <p class="wrong">Sorry, the email you provided is already in use.</p>

        <form method="post">
            $:form.render()
            
            <input type="submit" name="register_go" value="register" id="register_go"> or
            <a href="#" class="cancel">Cancel</a>...
        </form>
    </div>
</div>

<div class="column span-5 last">
    <div class="big-box bb">
        <h3>benefits of registering</h3>
        <ul>
            <li>why you should register.</li>
            <li>TODO: add why you should register. do we even need this?</li>
        </ul>
    </div>
</div>