<h3>Signup!</h3>

<form method="post">
    
    <ol>
        <li>
            <label for="name">Name</label>
            <input type="text" name="name" value="" id="name" />
        </li>
    
        <li>
            <label for="email">Email</label>
            <input type="text" name="email" value="" id="email" />
        </li>
    
        <li>
            <label for="password">Password</label>
            <input type="password" name="password" value="" id="password" />
        </li>
    
        <li>
            <label for="password_verify">Verify Password</label>
            <input type="password" name="password_verify" value="" id="password_verify" />
        </li>
        
        <li>
            <div class="buttons">
                <button type="submit" class="positive" id="create">
                    <img src="/public/images/tick.png" alt=""/> 
                    Signup
                </button>

                <button type="reset" class="negative" id="cancel">
                    <img src="/public/images/cross.png" alt=""/> 
                    Cancel...
                </button>
            </div>
        </li>
    
</form>