<div class="column span-5 first">
    <div class="big-box br" style="height: 340px;">
        <h3>1. ask</h3>
        <p>Got something to say? Don't know how to do someting? Get started quickly
            by asking your question here. We'll do our best to answer it.</p>
        
        <form action="/ask/">
            <textarea style="font-size:16px;" name="question" rows="8" cols="29"></textarea>
            <input type="submit" name="ask_question" value="ask it" id="ask_question" />
        </form>
    </div>
</div>

<div class="column span-5">
    <div class="big-box bb" style="height: 340px;">
        <h3>2. search</h3>
        <p>People ask a lot of quetions around here. There's a good chance your question has been answered.
            Search around and see if you can find it.</p>
        
        <input type="text" size="30" style="font-size: 16px;" name="search" value="" id="search" />
        <input type="submit" name="search_go" value="search" id="search_go">
    </div>
</div>

<div class="column span-4 last">
    <div class="big-box bg" style="height: 340px;">
        <h3>3. register</h3>
        <p>We'd love for you to get your name into our system. It allows us to keep better track of
            what you're doing, and we can cater the system to your own needs, instead of what we think
            your needs are. All you need is your email to get started.</p>
        
        <form action='/signup/'>
            <input type="text" size="23" style="font-size: 16px;" name="email" value="" id="email" />
            <input type="submit" name="signup_go" value="signup" id="signup_go">
        </form>
    </div>
</div>