$def with (threadid)

<style type="text/css" media="screen">
    #header {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    #content {
        margin-top: 120px;
        margin-bottom: 30px;
    }
</style>

<div id="set_author" style="display: none">
    <p>Hi! We need you to pick a display name. This name will be displayed as you chat inside the lobby.</p>
    
    <input type="input" id="author_input" />
    <input type="button" onClick="chat.setAuthor();" value="Let's Chat!" id="set_author_name" name="set_author_name" />
    
</div>


<div id="right">
    hi<p>this is a test</p><p>hi</p>
</div>


<div id="left">


    <table class="chat" id="messages">
        <tr class="line">
            <td class="author"><span>Drew N.</span></td>
            <td class="message"><p>hey this is pretty sick</p></td>
        </tr>

        <tr class="line">
            <td class="author"><span style="display: none">Drew N.</span></td>
            <td class="message"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad cupidatat non proident, sunt in culpa qui</p>
            </td>
        </tr>
    </table>
    
    <div id="bottom">&nbsp;</div>
    
</div>

</div>

<div id="chat_functions">
    <textarea name="message_text" id="message_text" rows="2" cols="50"></textarea>
    <input type="hidden" name="message_author" value="anonymous coward" id="message_author">
    <input type="hidden" name="thread_id" value="$threadid" id="thread_id">
    <input type="button" name="message_send" value="Send Message" id="message_send" />

<script type="text/javascript" charset="utf-8">
    var chat = new Seddit({"threadId" : $threadid, "user" : \$F('message_author')});
    Modalbox.show(\$('set_author'),  {title: "Pick a User name"});
</script>