<div id="new_room_container" style="font-size:">
    <h3>Create a New Room</h3>

    
    <table style="margin:10px" >
        <tr>
            <td><label for="room_title">Title</label></td>
            <td><input type="text" name="room_title" value="" id="room_title" /></td>
        </tr>
        <tr>
            <td><label for="room_url">URL</label></td>
            <td><input type="text" name="room_url" value="" id="room_url" /></td>
        </tr>
        <tr>
            <td valign="top"><label fpr="room_description">Description</label></td>
            <td><textarea name="room_description" rows="8" cols="40"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" name="create_room" value="Create Room" id="create_room" /></td>
        </tr>
    </table>    
    
</div>