$def with (rooms)

<div id="dev_notes">
    <h3>admin tasks</h3>
    
    <ul>
        <li><a href="#new_room_container" id="new_room">create a new room</a></li>
    </ul>
    
    <h3>some quick notes</h3>
    <p>everything in this section will be moved off to an admin panel. there is no sense of users right now, and we'll just put the tasks here, so you can play around with the app</p>
    
    <h3>bugs</h3>
    <p>- if you're creating a new room, you'll need to reload the page after the modal has closed, and you've created the room</p>
    
</div>

$for room in rooms:
    $:render.room_item(room)
    
    
$:render.new_room()

<script type="text/javascript" charset="utf-8">
    new Control.Modal('new_room');
</script>