/* @group imports */
@import "forms.css";

/* @group default */
body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #333;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a.cancel {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a.cancel:hover {
    background: red;
    color: white;
}

/* @group rooms */
.room {
    padding: 10px;
}

.odd {
    background: #F4F4F4;
}

/* @group boxes */
.boxbeta {
    background: #333;
}

.big-box {
    border: 1px solid #e3e3e3;
    border-top: 4px solid red;
    padding: 5px;
    margin-bottom: 10px;
    background: #F8F8F8;
}

.bg { border-top: 6px solid green; }
.by { border-top: 6px solid yellow; }
.br { border-top: 6px solid red; }
.bb { border-top: 6px solid blue; }

/* @group site-messages */
.note {
    border: 1px solid #CC0;
    background: #FFFF9F;
    padding: 10px;
    margin: 10px 0 10px 0;

}

.error {
    
}

.success {
    background:;
}

/* @group header */
#header {
    border-bottom: 2px solid #999;
    margin-bottom: 10px;
}


#header a {
    text-decoration: none;
}

#header h1 {
    font-weight: bold;
    font-size: 42px;
    display: inline;
}

#header h1 a {
    color: #333;
}

#header h1 span {
    font-size: 12px;
    padding-left: 12px;
}

#header ul {
    text-align: right;
    display: inline;
}

#header li {
    display: inline;
    padding: 0 0 0 12px;
    font-weight: bold;
}

#header li a {
    font-size: 18px;
}

#header li a:hover {

}

#header #logged {
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* @group footer */

#footer {
    border-top: 2px solid #999;
    padding: 4px;
    margin-top: 10px;
    text-align: right;
}

#footer #copyright {
    font-weight: bold;
    text-align: right;
}

#footer #copyright a {
    padding: 12px;
}

/* @group transcript */ 

.chat {
    width: 100%;
}

.chat p {
    margin: 0;
    padding: 4px;
}

.chat tr {
    background: #fff;
}

.chat .author {
    background: #E6F3FE;
    border-right: 1px solid #CAE5FE;
    font-weight: bold;
    text-align: right;
    padding: 8px;
    width: 20%;
}

.chat .message {
    border-bottom: 1px solid #CAE5FE;
}

.chat .system {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.chat .system .day {
    text-align: right;
}

.chat .system .time { }