/* @group imports */
/*@import "forms.css"; */

/* @group default */
body {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    color: #333;
    font-size: 12px;
}

/* @group boxes */
.big-box {
    border: 1px solid #e3e3e3;
    border-top: 4px solid red;
    padding: 5px;
    background: #F8F8F8;
}

/* @group site-messages */
.note {
    border: 1px solid #CC0;
    background: #FF6;
    display: inline;
    padding: 10px;
}

.error {
    
}

.success {
    background:;
}

/* @group header */
#header h1 {
    font-weight: bold;
    font-size: 42px;
}

#header h1 a {
    color: #333;
}

#header h1 span {
    font-size: 12px;
    padding-left: 12px;
}

#header ul {
    text-align: right;
}

#header li {
    display: inline;
    padding: 0 0 0 12px;
    font-weight: bold;
}

#header #logged {
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* @group footer */

#footer {
    margin: 20px 0 0 0;
}

#footer #copyright {
    font-weight: bold;
}

#footer #copyright a {
    padding: 12px;
}

/* @group transcript */ 

.chat {
    width: 100%;
}

.chat p {
    margin: 0;
    padding: 4px;
}

.chat tr {
    background: #fff;
}

.chat .author {
    background: #E6F3FE;
    border-right: 1px solid #CAE5FE;
    font-weight: bold;
    text-align: right;
    padding: 8px;
    width: 20%;
}

.chat .message {
    border-bottom: 1px solid #CAE5FE;
}

.chat .system {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.chat .system .day {
    text-align: right;
}

.chat .system .time { }