/* @group reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

/* @group default */
body {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    color: #333;
    font-size: 12px;
    text-align: center;
}

a { text-decoration: none; }

#container {
    text-align: left;
}

/* @group header */

#header {
    background: #333;
    color: #fff;
}

#header h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
}

#header h1 a {
    color: #fff;
}

#header h1 span {
    font-size: 12px;
    color: #008040;
}

#header ul {
    background: #fff;
    float: right;
    padding: 8px;
}

#header li {
    display: inline;
    padding: 8px;
}

#header li a {
    color: #333;
}


#header li a:hover {
}

/* @group content */
#content {
    margin: 10px auto;
    width: 900px;
    background: #e6e6e6;
    padding: 10px;
}

/* @group footer */
#footer {
    padding: 30px;
    font-weight: bold;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

#footer a {
    padding: 0 6px 0 6px;
}

/* @group lobby */
#right {
    width: 18%;
    float: right;
    text-align: left;
}

#left {
    width: 78%;
}

/* @group transcript */ 

.chat {
    width: 100%;
}

.chat p {
    margin: 0;
    padding: 4px;
}

.chat tr {
    background: #fff;
}

.chat .author {
    background: #E6F3FE;
    border-right: 1px solid #CAE5FE;
    font-weight: bold;
    text-align: right;
    padding: 8px;
    width: 20%;
}

.chat .message {
    border-bottom: 1px solid #CAE5FE;
}

.chat .system {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.chat .system .day {
    text-align: right;
}

.chat .system .time { }

/* @group chatfunctions */
#chat_functions {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #333;
    width: 100%;
    padding: 20px;
}
