form table {
    border: 0;
}

form table tr {
    border: 0;
}

form table td {
    border: 0;
}

form table th {
    border: 0;
}

.wrong {
    color: red;
    font-weight: bold;
    text-transform: lowercase;
}