<h1>chat test bed</h1>

<p id="p_status">Status: Normal</p>
Current Chitter-Chatter:
<div id="div_chat" class="chat_main">
    <table id="chat_table">
        <tr><td>Drew Newberry (12:33 pm)</td><td>hey! this is neat</td></tr>
    </table>
	
</div>

<form id="frmmain" name="frmmain" onsubmit="">
	<input type="button" name="btn_get_chat" id="btn_get_chat" value="Refresh Chat" />
	<input type="button" name="btn_reset_chat" id="btn_reset_chat" value="Reset Chat"  /><br />
	<input type="text" id="txt_message" name="txt_message" style="width: 447px;" />
	<input type="button" name="btn_send_chat" id="btn_send_chat" value="Send" />
</form>