$def with (archive, comments, form)

$:archive.content

<h3>Comments</h3>

$ odd = True
$for c in comments:
    $if odd:
        <div id="comment_$c.id" class="comment odd">
        $ odd = False
    $else:
        $ odd = True
        <div id="comment_$c.id" class="comment">
            
    <p>$c.message</p>
    <p>posted $datestr(c.date_created) by $c.author_id</p>
    </div>

<form method=post action='comment/'>
    <strong>post a new comment</strong>
    $:form.render()
    <input type="submit" name="submit" value="post comment" id="submit">
</form>