$def with (rooms, threads)
$ odd = True

<div class="column span-9 first">
    $for room in rooms:
        $if odd:
            <div class="room">
                $ odd = False
        $else:
            <div class="room odd">
            $ odd = True
            
                
        <strong><a href="/rooms/$room.url/lobby/">$room.title</a></strong>
        <p>$room.description</p>
        </div>
</div>

<div class="column span-5 last">
    <h3>recent threads</h3>
    
        $for thread in threads:
            <div class="bubble">
                <div class="rounded">
                    <blockquote>
                        <p>$thread.summary</p>
                    </blockquote>
                </div>
                <cite class="rounded">posted into ....</cite>
            </div>
</div>