body {
  font-family: arial, sans-serif;
  font-size: 83%;
  background: white;
  margin: 1.5em;
}

h1 {
  background: #FFF4C2;
  font-size: 135%;
  padding: 0.1em 0 0.1em 3px;
  border-top: 1px solid #FFCC33;
  margin-bottom: 0.5em;
}

#chat_box {
    margin: 20px;
}

#bottom {
    background: #eee;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.wrapper {
    margin: 20px;
}